<app-navbar></app-navbar>

<div class="loading" *ngIf="isLoading | async">
    <svg width="64px" height="48px">
      <polyline points="0.157 23.954, 14 23.954, 21.843 48, 43 0, 50 24, 64 24" id="back"></polyline>
      <polyline points="0.157 23.954, 14 23.954, 21.843 48, 43 0, 50 24, 64 24" id="front"></polyline>
    </svg>
</div>
  
<!-- <router-outlet [class.hide-content]="isLoading | async"></router-outlet> -->

<div [class.hide-content]="isLoading | async" style="width: 100%; height: 89%;">
    <router-outlet></router-outlet>
</div>
