
.profile-container {
    width: 600px;
    /* height: 500px; */
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
  }
  
  mat-card-title {
    text-align: center; 
  }
  
  p {
    margin: 15px 0; 
  }
  