<div class="landing-page">
    <img src="../../../assets/images/app-banner2.jpg" alt="Background Image" class="background-img">
    
    <div class="pill-section" routerLink="/user-register">
        <div class="pill-content">
            <div class="half white">
                <span class="text"><b>Consult doctors 24x7</b></span>
            </div>
            <div class="half blue">
                <span class="text"><b>Order medicines from anywhere, anytime</b></span>
            </div>
            <h1 class="medpal-text">MedPal</h1>
        </div>
    </div>

    <div class="content-section">
        <div class="column">
            <h1 class="health-text">Look after your health</h1>
        </div>
        <div class="column">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen style="border-radius: 12px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);"></iframe>
        </div>
    </div>

    <div class="image-section">
        <div class="column" id="colImg1">
            <img src="../../../assets/images/mb-gold12.jpg" alt="Image 1">
        </div>
        <div class="column">
            <h1 class="health-text">Use MedPal.</h1>
        </div>
    </div>
</div>
