<div class="row search-container">
  <div class="col">
    <input matInput class="search-input" placeholder="Search" [(ngModel)]="searchBox" (ngModelChange)="onSearch($event)">
  </div>
</div>

<div class="table">
  <table mat-table [dataSource]="tableDataSource" matSort class="mat-elevation-z8">

    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let element">

        <ng-container *ngIf="column === 'licenseFile'; else normalColumn">
          <a mat-button color="primary" (click)="getLicenseFile(element.licenseFile)" target="_blank" matTooltip="Open/Download License File">
            Open <mat-icon>open_in_new</mat-icon>
          </a>
        </ng-container>

        <ng-template #normalColumn>
          <ng-container *ngIf="column !== 'Actions'; else actionsColumn">
            {{ element[column] }}
          </ng-container>
        </ng-template>

        <ng-template #actionsColumn>
            <ng-container *ngIf="route==='Listing'">
                <button mat-icon-button color="warn" (click)="blockUnblock(element.email)" matTooltip="{{ element.isBlocked ? 'Unblock User' : 'Block User' }}">
                    <mat-icon>{{ element.isBlocked ? 'check_circle' : 'block' }}</mat-icon>
                  </button>
                <button mat-icon-button color="primary" (click)="details(element.email)" matTooltip="More Details">
                    <mat-icon>info</mat-icon>
                </button>
            </ng-container>

            <ng-container *ngIf="route==='orderListing'">
              <button mat-icon-button color="primary" (click)="updateOrder(element.orderId)" matTooltip="Update">
                  <mat-icon>edit</mat-icon>
                </button>
              <button mat-icon-button color="primary" (click)="details(element.orderId)" matTooltip="More Details">
                  <mat-icon>info</mat-icon>
              </button>
          </ng-container>

            <ng-container *ngIf="route==='Requests'">
                <button mat-icon-button color="primary" (click)="medStoreReqDecision(element.email,'Accepted')">
                    <mat-icon>check_circle</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="medStoreReqDecision(element.email,'Rejected')">
                    <mat-icon>cancel</mat-icon>
                </button>
            </ng-container>  
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <br>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
