<div class="order-cards-container">
    <div *ngFor="let app of appoinments" class="order-card">
        <div class="order-summary">
            <div class="order-id">
                <p><strong>Appoinment ID:</strong> {{ app.appoinmentId }}</p>
                <p><strong>Patient Name:</strong> {{ app.customerName }}</p>
                <p><strong>Appoinment Status:</strong> {{ app.appoinmentStatus }}</p>

            </div>
            <div class="order-date-total">
                <p><strong>Start Time</strong> {{ app.timeSlot.startTime | date:'short' }}</p>
                <p><strong>End Time</strong> {{ app.timeSlot.endTime | date:'short' }}</p>
                <p><strong>Fees:</strong> Rs.{{ app.fees }}</p>
                
                <button mat-raised-button color="primary" *ngIf="app.appoinmentStatus === 'Pending' && isCallTime(app)" [routerLink]="['/doctor/video-call']" [queryParams]="{ appoinmentId: app.appoinmentId,name:app.doctorName}">Start Call</button>

                <button mat-raised-button color="primary" *ngIf="app.appoinmentStatus === 'Pending' && isCallEndTime(app)" (click)="completeAppointment(app.appoinmentId)">Complete</button>
            </div>
        </div>
    </div>
</div>
